.current-card {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.day {
  background-image: linear-gradient(
    to bottom right,
    rgba(202, 234, 236, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  color: rgb(19, 54, 54);
}

.night {
  background-image: linear-gradient(
    to bottom right,
    rgba(66, 90, 92, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  color: #fff;
}

.current-card .left-section {
  width: 250px;
}


.current-card .country {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}

.current-card .date {
  font-size: 15px;
  font-weight: 400;
}


.current-card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  font-weight: 700;
}

.current-card .detail-units {
  display: flex;
  justify-content: flex-start;
}

.current-card .right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.current-card .condition {
  text-align: center;
}

.current-card img {
  width: 130px;
  height: 130px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}

.current-card h2 {
  margin: 0;
  font-size: 50px;
}

.current-card h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}


.current-card h4 {
  width: 150px;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.current-card h5 {
  width: 150px;
  line-height: 14px;
  margin: 0;
  font-size: 15px;
}

.current-card p {
  width: 150px;
  line-height: 14px;
  margin: 0;
  text-align: end;
  font-size: 15px;
}

.current-card hr {
  width: 100%;
  margin: 20px 0;
  border: 1px dotted;
}
