.hourly-section {
  width: 90%;
  height: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.hourly-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px 20px 30px;
}

.hourly-card img {
  width: 80px;
  height: 80px;
}

.hourly-card .hour {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.hourly-card .condition {
  height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.hourly-card .degree {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.hourly-card hr {
  width: 100%;
  margin: 20px 0;
  border: 1px dotted;
}

.hourly-card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hourly-card .detail-units {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hourly-card h5,
.hourly-card p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.day {
  background-image: linear-gradient(
    to bottom right,
    rgba(202, 234, 236, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  color: rgb(19, 54, 54);
}

.night {
  background-image: linear-gradient(
    to bottom right,
    rgba(66, 90, 92, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  color: #fff;
}
