body {
  font-family: "Nunito", sans-serif;
  background-image: url('/src/assets/background-pictures/main_background.jpg');
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 10px 20px;
  background-image: linear-gradient(
    to bottom right,
    rgba(14, 41, 41, 0.8),
    rgba(45, 75, 75, 0.8)
  );
  border-radius: 0 0 20px 20px;
  color: #fff;
}

.main-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
